<mat-card *ngIf="food">
  <mat-card-header>
    {{food.name}}
  </mat-card-header>
  <mat-card-content>
    <div class="info-container">
      <span>Calories (kcal)</span>
      <span class="info">{{food.calories}}</span>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="info-container">
      <span>Protein (g)</span>
      <span class="info">{{food.protein}}</span>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="info-container">
      <span>Carbs (g)</span>
      <span class="info">{{food.carbs}}</span>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="info-container">
      <span>Fat (g)</span>
      <span class="info">{{food.fat}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialog()" class="submit" color="primary">Add to diary</button>
  </mat-card-actions>
</mat-card>