<mat-toolbar color="primary">
  <span class="logo" [routerLink]="['/']">Calorie Counter</span>

  <span class="spacer"></span>

  <button mat-button *ngIf="loginService.isLoggedIn" [routerLink]="['/profile']">Profile</button>
  <button mat-button *ngIf="loginService.isLoggedIn" [routerLink]="['/calculator']">Calculator</button>
  <button mat-button *ngIf="!loginService.isLoggedIn" [routerLink]="['/register']">Register</button>
  <button mat-button *ngIf="loginService.isLoggedIn" (click)="onLogout()">Logout</button>
</mat-toolbar>