<mat-toolbar color="primary">
  <div class="logo" [routerLink]="['/']">Calorie Counter</div>

  <span class="spacer"></span>

  <div class="profile" [routerLink]="['/profile']">
    Calorie Counter
  </div>

  <button mat-button *ngIf="loginService.loggedIn" [routerLink]="['/profile']">Profile</button>
  <button mat-button *ngIf="loginService.loggedIn" [routerLink]="['/calculator']">Calculator</button>
  <button mat-button *ngIf="loginService.loggedIn" (click)="onLogout()">Logout</button>
  <button mat-button *ngIf="!loginService.loggedIn" [routerLink]="['/register']">Register</button>
  <div>
    Vasil Yoshev
  </div>
</mat-toolbar>