.spacer {
    flex: 1 1 auto;
}

.name, .profile, .logo {
    outline: none;
    cursor: pointer;
    white-space: pre-wrap;
    line-height: normal;
}

.name {
    width: 80px;
}

.arrow {
    vertical-align: middle;
    cursor: pointer;
}

.logo {
    max-height: 90%;
}