<app-add-goal *ngIf="!hasGoal"></app-add-goal>

<mat-card>
  <mat-card-header class="card-header">
    <button type="button" mat-mini-fab color="primary" class="chevron-left">
      <mat-icon matIcon (click)="getDay(day.date.setDate(day.date.getDate() - 1))">chevron_left</mat-icon>
    </button>
    <!-- <mat-form-field id="date-form-field">
      <input matInput [matDatepicker]="picker" (dateChange)="getDay($event.value)" placeholder="{{day.name}}" [formControl]="dateFormControl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker disabled="false" color="primary" #picker touchUi></mat-datepicker>
    </mat-form-field> -->
    <app-calendar [day]="day" (dateChange)="getDay($event)"></app-calendar>
    <button type="button" mat-mini-fab color="primary" class="chevron-right">
      <mat-icon (click)="getDay(day.date.setDate(day.date.getDate() + 1))">chevron_right</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <app-search (quickAdd)="refreshData()" [addDate]="day.date"></app-search>
  </mat-card-content>
</mat-card>

<mat-accordion [multi]="true">

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Summary
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-macros-table *ngIf="summary" [data]="summary"></app-macros-table>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true" *ngFor="let meal of meals">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ meal.type }}
      </mat-panel-title>
      <mat-panel-description class="meal-time">
        {{ meal.time }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-macros-table [data]="meal.foods" [quantity]="true"></app-macros-table>
  </mat-expansion-panel>

</mat-accordion>