<form [formGroup]="addFoodForm" (ngSubmit)="onSubmit(addFoodForm)">
  <mat-form-field appearance="outline">
    <mat-label>g</mat-label>
    <input matInput formControlName="quantity">
    <mat-error *ngIf="addFoodForm.get('quantity').hasError('required')">
      Quantity is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Meal" [(value)]="selectedMeal" formControlName="meal" (selectionChange)="otherSelected = selectedMeal === 'Other'">
      <mat-option *ngFor="let mealType of mealTypes" value="{{mealType}}">{{mealType}}</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [hidden]="!otherSelected" appearance="outline">
    <input matInput placeholder="Add meal type" formControlName="other">
    <mat-error *ngIf="addFoodForm.get('other')?.hasError('required')">This field is required</mat-error>
  </mat-form-field>
  <app-calendar *ngIf="!data.date" [date]="date" (dateChange)="date = $event"></app-calendar>
  <button mat-raised-button type="submit" class="submit" color="primary">Add Food</button>
</form>