mat-form-field, button {
  width: 100%;
}

.login {
  max-width: 575px;
}
  
.footer {
  font-size: 14px;
  margin: 0;
  text-align: end;
}

.reg-link {
  font-weight: 600;
  cursor: pointer;
}

.submit {
  margin-top: 10px;
}