<form [formGroup]="addGoalForm" (ngSubmit)="onSubmit(addGoalForm)">
  <mat-vertical-stepper formArrayName="formArray" [linear]="true" #stepper>
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <mat-card class="add-card">
        <mat-card-content>
          <ng-template matStepLabel>Enter calories</ng-template>
          <mat-form-field class="calories" appearance="outline">
            <mat-label>Calories</mat-label>
            <input [(ngModel)]="addGoalService.calories" matInput formControlName="calories" autocomplete="off" type="number" class="cal-input">
          </mat-form-field>
          <div>
            <button type="button" mat-raised-button color="accent" matStepperNext (click)="addGoalService.calcMacros()">Next</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <mat-card class="add-card">
        <mat-card-content>
          <ng-template matStepLabel>Enter macros</ng-template>
          <div class="header">Protein</div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="slider-container">
            <mat-form-field appearance="outline" class="slider-form-field percent">
              <mat-label>kcal</mat-label>
              <input [(ngModel)]="addGoalService.proteinCals" matInput type="number" formControlName="protein" class="slider-input" autocomplete="off"
                value="addGoalService.calcProtein(addGoalForm.get('calories').value)">
            </mat-form-field>
            <mat-slider [thumbLabel]="true" [(ngModel)]="addGoalService.proteinPercent" [ngModelOptions]="{standalone: true}"></mat-slider>
            <mat-form-field appearance="outline" class="slider-form-field grams">
              <mat-label>g</mat-label>
              <input [(ngModel)]="addGoalService.proteinGrams" [ngModelOptions]="{standalone: true}" matInput type="number" class="slider-input"
                autocomplete="off">
            </mat-form-field>
          </div>

          <div class="header">Carbs</div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="slider-container">
            <mat-form-field appearance="outline" class="slider-form-field percent">
              <mat-label>kcal</mat-label>
              <input [(ngModel)]="addGoalService.carbsCals" matInput type="number" formControlName="carbs" class="slider-input" autocomplete="off">
            </mat-form-field>
            <mat-slider [(ngModel)]="addGoalService.carbsPercent" [ngModelOptions]="{standalone: true}"
              [thumbLabel]="true"></mat-slider>
            <mat-form-field appearance="outline" class="slider-form-field grams">
              <mat-label>g</mat-label>
              <input [(ngModel)]="addGoalService.carbsGrams" [ngModelOptions]="{standalone: true}" matInput type="number" class="slider-input"
                autocomplete="off">
            </mat-form-field>
          </div>

          <div class="header">Fat</div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="slider-container">
            <mat-form-field appearance="outline" class="slider-form-field percent">
              <mat-label>kcal</mat-label>
              <input [(ngModel)]="addGoalService.fatCals" matInput type="number" formControlName="fat" class="slider-input" autocomplete="off">
            </mat-form-field>
            <mat-slider [(ngModel)]="addGoalService.fatPercent" [ngModelOptions]="{standalone: true}" [thumbLabel]="true"></mat-slider>
            <mat-form-field appearance="outline" class="slider-form-field grams">
              <mat-label>g</mat-label>
              <input [(ngModel)]="addGoalService.fatGrams" [ngModelOptions]="{standalone: true}" matInput type="number" class="slider-input"
                autocomplete="off">
            </mat-form-field>
          </div>

          <button mat-raised-button type="submit" class="submit" color="primary">Submit</button>
        </mat-card-content>
      </mat-card>
    </mat-step>
  </mat-vertical-stepper>
</form>