.add-card {
    width: 800px;
    max-width: 80%;
    margin: 25px auto;
}

.calories, button {
    width: 100%;
}

mat-slider {
    width: 50%;
    min-width: 0;
}

.footer {
    font-size: 14px;
    margin: 0;
    text-align: end;
}
  
  .calc-link {
    font-weight: 600;
    cursor: pointer;
}

.slider-form-field {
    width: 20%;
}

.grams {
    margin-left: auto;
}

.percent {
    margin-right: auto;
}

.slider-input {
    text-align: right;
}

input.slider-input::-webkit-outer-spin-button,
input.slider-input::-webkit-inner-spin-button,
input.cal-input::-webkit-outer-spin-button,
input.cal-input::-webkit-inner-spin-button, {
    display: none;
}

input.slider-input, input.cal-input {
    -moz-appearance: textfield;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: 600;
    text-align: center;
}