<form [formGroup]="addGoalForm" (ngSubmit)="onSubmit(addGoalForm)">
  <mat-vertical-stepper formArrayName="formArray" [linear]="true" #stepper>
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <mat-card class="add-card">
        <mat-card-header>
          Enter desired daily calorie intake
        </mat-card-header>
        <mat-card-content>
          <ng-template matStepLabel>Enter calories</ng-template>
          <mat-form-field class="calories" appearance="outline">
            <mat-label>Calories</mat-label>
            <input [(ngModel)]="addGoalService.calories" matInput formControlName="calories" autocomplete="off" class="cal-input">
            <mat-error *ngIf="formArray?.get([0]).get('calories').hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="formArray?.get([0]).get('calories').hasError('pattern')">Only digits are allowed</mat-error>
            <mat-error *ngIf="formArray?.get([0]).get('calories').hasError('min')">Calories are too low</mat-error>
            <mat-error *ngIf="formArray?.get([0]).get('calories').hasError('max')">Calories are too high</mat-error>
          </mat-form-field>
          <div>
            <button type="button" mat-raised-button color="accent" matStepperNext (click)="calcDefaultMacros()">Next</button>
          </div>
        </mat-card-content>
        <mat-card-footer class="footer">
          Not sure what to put here? Check out our
          <span class="reg-link" [routerLink]="['/calculator']">calculator</span>.
        </mat-card-footer>
      </mat-card>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <mat-card class="add-card">
        <mat-card-content>
          <ng-template matStepLabel>Enter macros</ng-template>

          <div class="header">Protein</div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="slider-container">
            <mat-form-field appearance="outline" class="slider-form-field percent">
              <mat-label>kcal</mat-label>
              <input matInput (input)="setProteinCals($event)" (blur)="formatProteinOnBlur($event)" formControlName="protein" [value]="addGoalService.proteinCals"
                class="slider-input" autocomplete="off">
              <mat-error *ngIf="formArray?.get([1]).get('protein').hasError('required')">Required</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('protein').hasError('pattern')">Digits only</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('protein').hasError('min')">Invalid calories</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('protein').hasError('max')">Invalid calories</mat-error>
            </mat-form-field>
            <mat-slider [value]="addGoalService.proteinPercent" (input)="setProteinPercent($event)" [thumbLabel]="true" [displayWith]="formatLabel"></mat-slider>
            <mat-form-field appearance="outline" class="slider-form-field grams">
              <mat-label>g</mat-label>
              <input matInput (input)="setProteinGrams($event)" (blur)="formatProteinOnBlur($event)" [value]="addGoalService.proteinGrams"
                class="slider-input" autocomplete="off">
            </mat-form-field>
          </div>

          <div class="header">Carbs</div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="slider-container">
            <mat-form-field appearance="outline" class="slider-form-field percent">
              <mat-label>kcal</mat-label>
              <input matInput (input)="setCarbsCals($event)" (blur)="formatCarbsOnBlur($event)" [value]="addGoalService.carbsCals" formControlName="carbs"
                class="slider-input" autocomplete="off">
              <mat-error *ngIf="formArray?.get([1]).get('carbs').hasError('required')">Required</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('carbs').hasError('pattern')">Digits only</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('carbs').hasError('min')">Invalid calories</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('carbs').hasError('max')">Invalid calories</mat-error>
            </mat-form-field>
            <mat-slider [value]="addGoalService.carbsPercent" (input)="setCarbsPercent($event)" [thumbLabel]="true" [displayWith]="formatLabel"></mat-slider>
            <mat-form-field appearance="outline" class="slider-form-field grams">
              <mat-label>g</mat-label>
              <input matInput (input)="setCarbsGrams($event)" (blur)="formatCarbsOnBlur($event)" [value]="addGoalService.carbsGrams" class="slider-input"
                autocomplete="off">
            </mat-form-field>
          </div>

          <div class="header">Fat</div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="slider-container">
            <mat-form-field appearance="outline" class="slider-form-field percent">
              <mat-label>kcal</mat-label>
              <input matInput (input)="setFatCals($event)" (blur)="formatFatOnBlur($event)" [value]="addGoalService.fatCals" formControlName="fat"
                class="slider-input" autocomplete="off">
              <mat-error *ngIf="formArray?.get([1]).get('fat').hasError('required')">Required</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('fat').hasError('pattern')">Digits only</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('fat').hasError('min')">Invalid calories</mat-error>
              <mat-error *ngIf="formArray?.get([1]).get('fat').hasError('max')">Invalid calories</mat-error>
            </mat-form-field>
            <mat-slider [value]="addGoalService.fatPercent" (input)="setFatPercent($event)" [thumbLabel]="true" [displayWith]="formatLabel"></mat-slider>
            <mat-form-field appearance="outline" class="slider-form-field grams">
              <mat-label>g</mat-label>
              <input matInput (input)="setFatGrams($event)" (blur)="formatFatOnBlur($event)" [value]="addGoalService.fatGrams" class="slider-input"
                autocomplete="off">
            </mat-form-field>
          </div>

          <button mat-raised-button type="submit" class="submit" color="primary">Submit</button>
        </mat-card-content>
      </mat-card>
    </mat-step>
  </mat-vertical-stepper>
</form>