<div class="jumbotron text-center">
  <h1>Macros</h1>
  <p class="lead">Welcome to Macros</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.js/Express server using Mongoose.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate components, servers, etc.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Authentication using JSON Web Tokens</p>
  </div>
</div>