<mat-card class="profile">
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Name: {{profileService.user?.fname + " " + profileService.user?.lname}}</mat-list-item>
      <mat-list-item role="listitem">Username: {{profileService.user?.username}}</mat-list-item>
      <mat-list-item role="listitem">Email: {{profileService.user?.email}}</mat-list-item>
      <mat-list-item role="listitem">
        Goal: {{profileService.user.goal.calories}} calories, 
        {{profileService.user.goal.protein}} protein,
        {{profileService.user.goal.carbs}} carbs, 
        {{profileService.user.goal.fat}} fat
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>