mat-card-title {
    font-size: 20px;
}

mat-form-field {
    width: 100%;
}

.info-container {
    margin: 12px 24px;
    display: flex;
    justify-content: space-between;
}

.info {
    font-weight: 600;
}