<!-- Summary -->
<mat-card>
  <mat-card-header class="card-header">
    {{day.name}}
  </mat-card-header>
  <mat-card-content>
    <app-macros-table *ngIf="summary" [data]="summary"></app-macros-table>

    <mat-accordion>
      <mat-expansion-panel id="breakfast-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Breakfast
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-search></app-search>
        <app-macros-table *ngIf="breakfast" [data]="breakfast" [quantity]="true"></app-macros-table>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lunch
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-search></app-search>
        <app-macros-table *ngIf="lunch" [data]="lunch" [quantity]="true"></app-macros-table>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dinner
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-search></app-search>
        <app-macros-table *ngIf="dinner" [data]="dinner" [quantity]="true"></app-macros-table>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Snacks
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-search></app-search>
        <app-macros-table *ngIf="snack" [data]="snack" [quantity]="true"></app-macros-table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>