@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-light-blue, 500, 100, 700);
$accent:  mat-palette($mat-indigo, 500, 100, 700);
$warn:    mat-palette($mat-deep-orange);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);