mat-form-field {
    width: 100%;
}

.add-container {
    float: right;
    max-width: 15%;
}

.add-icon {
    margin: 0 !important;
}

.option-name {
    float: left;
    max-width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
}