<div class="jumbotron text-center">
  <h1>Calorie Counter</h1>
  <!-- <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div> -->
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Set a goal</h3>
    <p>Easily calculate daily calorie income using our online calculator</p>
  </div>
  <div class="col-md-4">
    <h3>Track your meals</h3>
    <p>Choose from a database of millions of foods or add your own</p>
  </div>
  <div class="col-md-4">
    <h3>Get insights</h3>
    <p>Check your progress through detailed statistics and charts</p>
  </div>
</div>