img {
    max-width: 512px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
}

.welcome-card {
    max-width: 575px;
}