.register {
    max-width: 575px;
}

mat-form-field, button {
    width: 100%;
}

mat-card-header {
    font-size: larger;
    justify-content: center;
    margin-bottom: 10px;
}

.login-link {
    font-weight: 600;
    cursor: pointer;
}

.footer {
    font-size: 14px;
    margin: 0;
    text-align: end;
}